<?xml version="1.0"?>
<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <federatedAuthentication>
      <identityProvidersPerSites>
        <mapEntry name="all">
          <sites>
            <site patch:after="site[@name='website']" name="cert-app">cert-app</site>
          </sites>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
  </sitecore>
</configuration>