<?xml version="1.0"?>
<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Pmi.Anc.Certification.Foundation.Security.Pipelines.Initialize.RegisterApiRoutes, Pmi.Anc.Certification.Foundation.Security" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>
      <getStartUrl>
        <processor type="Pmi.DigitalAssets.Common.Foundation.Security.Pipelines.GetStartUrl.ValidateStartUrl, Pmi.DigitalAssets.Common.Foundation.Security" patch:instead="processor[@type='Sitecore.Pipelines.GetStartUrl.ValidateStartUrl, Sitecore.Kernel']" resolve="true">
          <allowedSites hint="raw:AddAllowedSite">
          </allowedSites>
        </processor>
      </getStartUrl>
    </pipelines>
    <services>
      <configurator type="Pmi.Anc.Certification.Foundation.Security.ServicesConfigurator, Pmi.Anc.Certification.Foundation.Security" />
    </services>
  </sitecore>
</configuration>