<?xml version="1.0"?>
<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <federatedAuthentication>
      <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
        <mapEntry name="WEBSITE" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
          <sites hint="list">
            <site patch:after="site[@name='website']" name="cert-app">cert-app</site>
          </sites>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
  </sitecore>
</configuration>