<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Used to specify the default Sources for list, install and update.
  -->
  <packageSources>
    <add key="Nuget v2" value="https://www.nuget.org/api/v2" />
    <add key="Nuget v3" value="https://api.nuget.org/v3/index.json" />
    <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/" />
    <add key="Pmi.Sitecore91" value="https://pmiorg.pkgs.visualstudio.com/_packaging/pmi.sitecore91/nuget/v3/index.json" />
    <add key="PMI" value="https://pmiorg.pkgs.visualstudio.com/_packaging/PMI/nuget/v3/index.json" />
    <add key="Pmi.Sitecore91 Automation" value="https://pmiorg.pkgs.visualstudio.com/_packaging/plat-dcon-automation/nuget/v3/index.json" />
    <add key="QAAutomation" value="https://pmiorg.pkgs.visualstudio.com/c04793e4-b1c4-46e4-a447-d6e3cfbd32a3/_packaging/QAAutomation/nuget/v3/index.json" />
  </packageSources>

  <activePackageSource>
    <!-- this tells that all of them are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>