@import "./placeholders";

$side-components-min-width: 168px;

.dsm.app-header {
  background-color: $color-white;
  margin-bottom: $header-bottom-space;
  padding-top: 0;

  .container {
    border-bottom: $border-gray;
    position: relative;
    justify-content: space-between;

    @include flex-position($y: center);

    @include media-breakpoint-up(md) {
      padding: 25px 0;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      padding: {
        bottom: 5px;
        top: 5px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    min-height: $header-height;
  }
}

//Header inner elements styles

.app-header {
  &__logo {
    display: block;

    img {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      width: 30px;
    }
  }

  .app-header__title {
    margin-bottom: 0;
    text-transform: none;

    &.h2 {
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 calc(100% - #{$side-components-min-width} - #{$side-components-min-width});
      max-width: calc(100% - #{$side-components-min-width} - #{$side-components-min-width});
    }

    @include media-breakpoint-down(sm) {
      &.h2 {
        font-size: 18px;
      }
    }
  }

  &__controls {
    @include flex-position($x: flex-end, $y: center);

    > * {
      + * {
        margin-left: 14px;
      }

      @include media-breakpoint-up(md) {
        &:first-child:last-child {
          margin-right: 25px;
        }
      }
    }

    @include media-breakpoint-up(md) {
      min-width: $side-components-min-width;
    }
  }
}
